<!-- here we are adding link to ccs for this web page it get extracted to
    head of layout by using code  app.use('layout extractcss') 
    and this file will added at  in layout.ejs
 -->
<link rel="stylesheet" href="/css/user_profile.css">

<h1>hey this is user view with title <%= title%></h1>
